.setting-main-content {
    margin-left: 300px;
}

.setting-page-title {
    width: 99%;
    margin-bottom: 20px;
    padding: 2px;
    background-color: #f1f2f6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.password-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  }
  

  .password-card h3 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .change-password-button {
    padding: 10px 20px;
    background-color: #2f3542;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
    width: 300px;
  }
  .change-password-button:disabled{
    cursor: not-allowed;
  }

  .change-password-button:hover {
    background-color: #3d4456;
  }

  .error-state{
    margin-left: 4px;
    color:red;
  }

  .success-state{
    margin-left: 4px;
    color:green;
  }