.card-info-parent {
    position: absolute;
    right: 25px;
    top: -12px;
}
.card-info {   
    background: #5d4135;
    border-radius: 0 0 5px 5px;
    height: 56px;
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 51% 73%, 0 100%, 0 0);
    padding: 10px 20px; 	
}
.card-info-parent::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 12px;
    left: -13px;
    top: 0;
    z-index: -9;
    background-image: url('/left-icon.svg');
    background-position: right -9px top 0px;
    background-repeat: no-repeat;
}
.card-info-parent::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    right: -13px;
    top: 0;
    z-index: -9;
    background-image: url('/right-icon.svg');
    background-position: left -9px top 0px;
    background-repeat: no-repeat;
}