@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color:#007A33
}

.sortable-header {
  cursor: pointer;
  user-select: none;
}

.sort-arrow {
  margin-left: 5px;
} */

/* website colours */
/* 
#550000
#3D2014
#987555
#554536 
#5D4135
#3B261D
#FFF2DB 
#E8D0A7 

#F5F0EC
*/

@theme inline {

  --font-pt-serif: 'PT Serif', serif;

  --font-poppins: 'Poppins', sans-serif;

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(--tertiary);

  --color-coffee-light: var(--coffee-light);

  --color-coffee-dark: var(--coffee-dark);

  --color-coffee-bg: var(--coffee-bg);

  --color-coffee-bg-foreground: var(--coffee-bg-foreground);

  --color-coffee-bg-billing-foreground: var(--coffee-bg-billing-foreground);

  --color-coffee-text-billing: var(--coffee-text-billing);

  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  
  --color-subscriptions: var(--subscriptions);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;

  --background: #FEFEFE;
  --foreground: #0A0A0A;

  --card: #FEFEFE;
  --card-foreground: #0A0A0A;

  --popover: #FEFEFE;
  --popover-foreground: #0A0A0A;

  --primary: #987555;
  --primary-foreground: #F9F9F9;

  --secondary: #3D2014;
  --secondary-foreground: #FFFFFF;

  --tertiary: #550000;

  --coffee-light: #554536;
  --coffee-dark: #3B261D;
  --coffee-bg: #5D4135;
  --coffee-bg-foreground: #E8D0A7;

  --coffee-bg-billing-foreground: #F5F0EC;
  --coffee-text-billing: #A9927F;

  --muted: #F4F4F4;
  --muted-foreground: #737373;

  --accent: #F4F4F4;
  --accent-foreground: #171717;

  --destructive: #E7000A;

  --subscriptions: #FF645E;

  --border: #E5E5E5;
  --input: #BEA999;

  --ring: #E8D0A7;

  --chart-1: #F44900;
  --chart-2: #009689;
  --chart-3: #104E64;
  --chart-4: #FFB900;
  --chart-5: #FD9900;

  --sidebar: #F9F9F9;
  --sidebar-foreground: #0A0A0A;

  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #F9F9F9;

  --sidebar-accent: #F4F4F4;
  --sidebar-accent-foreground: #171717;

  --sidebar-border: #E5E5E5;
  --sidebar-ring: #A0A0A0;
}

.dark {
  --background: #0A0A0A;
  --foreground: #F9F9F9;

  --card: #171717;
  --card-foreground: #F9F9F9;

  --popover: #171717;
  --popover-foreground: #F9F9F9;

  --primary: #E5E5E5;
  --primary-foreground: #171717;

  --secondary: #2B2B2B;
  --secondary-foreground: #F9F9F9;

  --muted: #2B2B2B;
  --muted-foreground: #A0A0A0;

  --accent: #2B2B2B;
  --accent-foreground: #F9F9F9;

  --destructive: #ff6467;

  /* oklch(1 0 0 / 10%) → white @ 10% alpha */
  --border: #FFFFFF1A;
  

  /* oklch(1 0 0 / 15%) → white @ 15% alpha */
  --input: #FFFFFF26;

  --ring: #737373;

  --chart-1: #2F4CFF;
  --chart-2: #00C6A0;
  --chart-3: #FD9900;
  --chart-4: #C14CFF;
  --chart-5: #FF6A00;

  --sidebar: #171717;
  --sidebar-foreground: #F9F9F9;

  --sidebar-primary: #2F4CFF;
  --sidebar-primary-foreground: #F9F9F9;

  --sidebar-accent: #2B2B2B;
  --sidebar-accent-foreground: #F9F9F9;

  --sidebar-border: #FFFFFF1A;
  
  --sidebar-ring: #737373;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-poppins; 
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply font-pt-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: white;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #F5F0EC;
  border-radius: 8px;
  border: 3px solid white
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e5cdb9;
}

.text-h1{
  @apply text-4xl md:text-5xl lg:text-6xl xl:text-[66px] xl:leading-20 font-bold text-secondary
}

.text-h2{
  @apply text-3xl md:text-4xl lg:text-5xl font-bold
}

.text-body{
  @apply text-base lg:text-lg tracking-wider leading-loose
}

.county-svg path:hover:not(.skip){
    fill: #DEC593;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

th:first-child {
  border-top-left-radius: 10px; /* Adjust as needed */
  border-bottom-left-radius: 10px; /* Adjust as needed */
}

th:last-child {
  border-top-right-radius: 10px; /* Adjust as needed */
  border-bottom-right-radius: 10px; /* Adjust as needed */
}

.test{
    margin: auto;
    background: linear-gradient(transparent, #ffffff, transparent);
    padding: 120px 42px;
    border-radius: 10px;
}